:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin-left: 15px;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #08354e;
  cursor: pointer;
  color: white;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.right-container{
  margin-top: 10px;
}
.form-container {
 width:50vw;
 margin: 5px;;
}

label {
  display: block; 
  margin-bottom: 5px; 
}
input{
  width: auto; 
  padding: 8px; 
  margin-bottom: 10px; 
}
.container {
  display: flex;
  flex-direction: row;
}
.notify {
  background: lightgrey;
  font-size: 20px;
  border-style: solid ;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  position: absolute;
  margin-top: 80vh;
  margin-left: 60vw;
}
.message{
  color:rgb(28, 169, 9);
 
}
.error{
  color:rgb(126, 7, 7);

}
/* For medium-sized screens */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  input{
    width:80vw;
  }
}

/* For small-sized screens */
@media screen and (max-width: 480px) {
  .container {
    flex-direction: column;
  }
  .notify{
    margin-left: 20vw;
  }
  .right-container{
    margin-top: 15px;
  }
  input{
    width:auto;
  }
  
}
